<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - Mi Sitio Web">Base</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="bg-black p-2">
            <h1 class="flex justify-center text-white font-bold">&lt;&lt;Java Backend Developer&gt;&gt;</h1>
            <h2 class="flex justify-center text-4xl font-bold text-white">GABRIEL LEIS</h2>
        </div>
    </header>

    <main layout:fragment="content">
        <!-- Cuerpo de la página a reemplazar -->
        <p>Contenido</p>
    </main>

    <!-- <footer>
        <div class="flex justify-center pt-5 pb-5">
             <p class="text-xl font-bold">Some footer</p>
        </div> 
    </footer> -->
</body>
</html>
